.col-1,
.col-2,
.col-3
 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
}
.container {
  padding:1em;
}
.rammi {
  margin: 1em 0;
}
.rammi div{
  border: 1px dotted;
  text-align: center;
}

@media screen and (min-width: 35em) {}

@media screen and (min-width: 37em) {
  .col-2,
  .col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1em;
  }
  .col-3,
  .col-5,
  .col-6 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1em;
  }
}

@media screen and (min-width: 47em) {
  .col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .container {
    max-width: 60em;
    margin: 1em auto;
    padding: 0;
  }
}

.col-1f,
.col-2f,
.col-3f
{
  display: grid;
  row-gap: 1em;
}
.col-1f {
  grid-template-columns: 1fr;
}
.col-2f {
  grid-template-columns: repeat(2, 1fr);
}
.col-3f {
  grid-template-columns: repeat(3, 1fr);
}
.col-4f {
  grid-template-columns: repeat(4, 1fr);
}
.col-5f {
  grid-template-columns: repeat(5, 1fr);
}
.col-6f {
  grid-template-columns: repeat(6, 1fr);
}
@media screen and (min-width:48em) {
  .col-2f, .col-3f, .col-4f, .col-5f, .col-6f {
    grid-gap: 1em;
  }
}